<div class="controllers">
  <button class="btn btn-primary" (click)="increment()">increase</button>
  <button class="btn btn-warning" (click)="reset()">reset</button>
  <button class="btn btn-danger" (click)="decrement()">decrease</button>
</div>

<div class="input-group my-3">
  <input
    type="number"
    [(ngModel)]="value"
    class="form-control"
    aria-label="Recipient's username"
    aria-describedby="basic-addon2"
  />
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" (click)="custom()" type="button">
      increment
    </button>
  </div>
</div>

<h1>{{ message$ | async }}</h1>
